$bg-col: #f2dba6;
$bar-col: #292823;
.main {
  background-color: $bg-col;
  .container {
    width: 100vw;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.img-container {
  height: 65vh;
  width: 70vw;
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $bg-col;
    top: 0;
    right: 0;
  }
  img {
    width: inherit;
    height: inherit;
    margin: 0 auto;
  }
}
.text-container {
  position: relative;
  overflow: hidden;
  height: 10vh;
  width: fit-content;
  transform: rotate(90deg);
  top: 16%;
  padding: 0 2% 0 2%;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $bar-col;
    top: 0;
    right: 0;
  }
  p {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Avenir";
    letter-spacing: 5px;
    color: $bg-col;
    transform: rotate(-180deg);
  }
}
